{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{ site_name }}</title>
</head>
<body>
    <div id="content">
        <header>
            <div class="spacer">
                <h1>{% if page_name %}{{ page_name }}{% else %}{{ site_name }}{% endif %}</h1>
                {% if back_url %}<div><a href="{{ back_url }}">{% if back_text %}{{ back_text }}{% else %}<-- Go Back{% endif %}</a></div>{% endif %}
            </div>
        </header>
        <main>
            <div class="spacer">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>
