{% extends 'base.html' %}
{% load static %}

{% block content %}
<div><a href="{% url 'New album' %}">Create album</a></div>
{% for album in albums %}
<article>
    <div>{% if user.is_authenticated %}<a class="favorite" href="{% url 'Favorite album' pk=album.pk %}"><span{% if album.pk in favorites %} class="hidden"{% endif %}>{% include 'icons/star.svg' %}</span><span{% if album.pk not in favorites %} class="hidden"{% endif %}>{% include 'icons/star-fill.svg' %}</span></a> {% endif %}<a href="{% url 'Album details' pk=album.pk %}">{{ album.title }}</a></div>
    <div>by <a href="{% url 'Artist details' pk=album.artist.pk %}">{{ album.artist.name }}</a></div>
</article>
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/favorites.js' %}"></script>
{% endblock %}
